.delevery {
  margin-top: 100px;
  width: 100%;

  &__container {
    width: 1250px;
    margin: auto;
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  &__title {
    /* BEPUL VA TEZ YETKAZIB BERISH */

    /* Title/20PX Semibold */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    color: #000000;

    /* Inside auto layout */
  }
  &__text {
    /* Buyurtmalar uchun bepul yetkazib berish */

    /* Title/14PX Regular */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-align: center;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
