.footerbottom {
  margin-top: 2px;
  width: 100%;
  background-color: black;
  padding: 20px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    margin: auto;
  }
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
@media only screen and (max-width: 440px) {
  .footerbottom {
    &__container {
      width: 390px;
    }
    &__text:first-child{
      display: none;
    }
  }
}
