.ommabop {
  width: 100%;
  margin-top: 100px;
  &__container {
    width: 1250px;
    margin: 50px auto;
  }
  &__title {
    /* Ommabop mahsulotlar */

    /* Heading/36PX SemiBold */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;

    /* Text2 */
    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__slider {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .ommabop {
    margin-top: 50px;
    &__title {
      font-size: 25px;
    }

    &__container {
      width: 90%;
    }
  }
}
