.footer {
  background-color: black;
  width: 100%;
  margin-top: 100px;
  padding: 80px 0;
  &__container {
    width: 1250px;
    margin: auto;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__logo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    letter-spacing: 0.03em;

    color: #fafafa;
  }
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #fafafa;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__socials {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 25px;
  }
  &__socials i {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: cyan;
    }
  }
  &__subtitle {
    /* Aloqa */

    /* Title/20PX Medium */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    /* Text */
    color: #fafafa;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__subtext {
    /* Manzil: Toshkent sh */

    /* Title/16PX Regular */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    width: 180px;
    /* Text */
    color: #fafafa;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__input {
    width: 186px;
    height: 34px;
    padding: 5px 10px;
    background: rgba(239, 238, 238, 0.5);
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.5;
  }
  &__submit {
    opacity: 0.8;
  }
  &__question {
    width: 253px;
    height: 34px;
    background: rgba(238, 236, 236, 0.5);
    border-radius: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    &__container {
      width: 90%;
    }
    &__cards {
      flex-wrap: wrap;
      // flex-direction: column;
      gap: 10px;
    }
    &__card:last-child{
      display: none;
    }
    &__text{
      width: 150px;
    }
  }
}
